@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, valentine;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #f472b6, 0 0 10px #f472b6;
  }

  50% {
    box-shadow: 0 0 20px #f472b6, 0 0 30px #ec4899;
  }

  100% {
    box-shadow: 0 0 5px #f472b6, 0 0 10px #f472b6;
  }
}

.animate-glow {
  animation: glow 2s infinite ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}